{% extends "base.html" %}

{% block contenido %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h3 class="text-center mb-4">Confirmar Eliminación del Producto</h3>
        <div class="alert alert-danger text-center">
            ¿Estás seguro que deseas eliminar el producto: <strong>{{ producto.nomProducto }}</strong>?
        </div>
        <form method="post" class="text-center mt-4">
            {% csrf_token %}
            <a class="btn btn-dark mr-2" href="{% url 'productos' %}">Cancelar</a>
            <button class="btn btn-danger" type="submit">Confirmar Eliminación</button>
        </form>
      </div>
    </div>
  </div>
{% endblock contenido %}
