{% extends "base.html" %}

{% block contenido %}
<div class="row">
    <div class="col-10 offset-1">
        <h3>Confirmar Eliminacion de </h3>
        <div class="alert alert-danger h5">
            ¿Estas seguro de que deseas eliminar al Usuario con: 
                {{ .grafica }} {{ .procesador }} {{ .ram }}?
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <a class="btn btn-dark" href="{% url 'catalogo' %}">Cancelar</a>
                </div>
                <div class="col">
                    <button class="btn btn-danger" type="submit">Confirmar Eliminacion</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}